<h1>Welcome to Mark's great rails app</h1>
<%= link_to 'Articles (CRUD operations wired up manually) ', articles_path %><br>
<%= link_to 'Widgets (CRUD operations created with generate scaffold.  Add .json for free API functionality)', widgets_path %>
